.container {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.profile > p {
  padding-right: 10px;
  font-weight: bold;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.breadcrumbs {
  padding: 10px 0;
}
