.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.revenueContainer {
  height: 40vh;
  width: 100%;
  margin-bottom: 30px;
}

.reservationContainer {
  height: 35vh;
  width: 63%;
}

.rankContainer {
  height: 35vh;
  width: 35%;
  overflow-y: scroll;
}
