.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.containerDisabled {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  color: #dddddd;
}

/* .table {
  border: 1px solid rgba(224, 224, 224, 1);
  margin: 5rem;
} */

.timeContainer {
  display: 'flex';
  alignitems: 'center';
}

.timeSpan {
  margin: '0 8px';
}

.reservationContainer {
  margin: 0 20%;
}

.reservationContainerDisabled {
  margin: 0 20%;
  color: #dddddd;
}

/* .disabled {
  color: #dddddd;
} */

/* Remove the following CSS rule */
.disabled {
  color: #dddddd;
}

/* Update the table cell styles to center content */
.table {
  border: 1px solid rgba(224, 224, 224, 1);
  text-align: center; /* Center the content horizontally */
  vertical-align: middle; /* Center the content vertically */
  padding: 1rem; /* Add padding to the cells */
}

/* Add a background color for disabled table cells */
.table.disabled {
  background-color: #f2f2f2; /* or any other desired background color */
}

.imgDeleteButton {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.storeRepresent {
  border: 5px solid rgb(127, 215, 127);
  border-radius: 10px;
  size: 150px;
}

.image {
  border-radius: 10px;
  size: 150px;
}

.redSpan {
  color: red;
}

.shaded {
  filter: grayscale(100%); /* Adjust the filter to change the image color */
  opacity: 0.7;
  /* content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); */
}
