.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  /* border: 1px black solid; */
}

.table {
  border: 1px solid rgba(224, 224, 224, 1);
  margin: 5rem;
}

.timeContainer {
  display: 'flex';
  alignitems: 'center';
}

.timeSpan {
  margin: '0 8px';
}

.reservationContainer {
  margin: 0 20%;
}

.imgDeleteButton {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

/* .storeImgContainer {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  overflow: 'hidden';
  background-color: red;
}

.imageList {
  flex-wrap: nowrap;
} */
